@font-face {
  font-family: "Mohol";
  src: url("Mohol-Light.woff") format("woff");
}

body {
  font-family: "Poppins";
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Mohol";
}

#header {
  text-align: center;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lazslo-images {
  padding: 1em;
  width: 200px;
  height: auto;
}

#sketch-div {
  padding: 1em;
}

#sketch-wrapper {
  display: grid;
  place-content: center;
  row-gap: 5vh;
}

#c3 {
  width: fit-content;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0.9), rgb(0, 0, 0));
  background-blend-mode: soft-light;
}

#c3::after {
  content: "";
  position: absolute;
  /* background-color: black; */
  background-image: url("textures/grunge_01.jpg");
  background-blend-mode: soft-light;
  opacity: 0.5;
  left: 0px;
  background-size: 50%;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
