@font-face {
  font-family: "Mohol";
  src: url("Mohol-Light.woff") format("woff");
}

body {
  font-family: "Poppins";
  background-color: rgb(255, 255, 255);
}

main {
  display: grid;
  justify-items: center;
  row-gap: 30vh;
  padding: 30vh 0px;
}

h1,
h2 {
  font-family: "Mohol";
}

#header {
  text-align: center;
}

#image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lazslo-images {
  padding: 1em;
  width: 200px;
  height: auto;
}

.sketch-wrapper {
  display: flex;
  flex-flow: column-reverse;
  background-color: transparent;
}
.sketch-wrapper > canvas {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.sketch-wrapper > i {
  position: absolute;
  transform: translateX(-50%) translateY(20px) rotate(8deg);
}

#c3 {
  position: relative;
  width: fit-content;
  background: radial-gradient(rgba(0, 0, 0, 0.9), rgb(0, 0, 0));
  background-blend-mode: soft-light;
}

#c3::after {
  content: "";
  position: absolute;
  /* background-color: black; */
  background-image: url("textures/grunge_01.jpg");
  background-blend-mode: soft-light;
  opacity: 0.5;
  left: 0px;
  background-size: 50%;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
